/*|GLOBAL VARIABLES HERE|*/
:root {
  --color1: 63, 56, 121;
  --color2: 0, 125, 255;
  --color3: 131, 239, 146;
  --color4: 255, 125, 0;
  --color5: 228, 56, 0;

  --cNeutralLight: #ffffff;
  --cNeutralDark: #000000;
  --cNeutralMid: #777777;

  --cTransMid: rgba(100, 100, 100, 0.5);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*|This is the class color for the background|*/
.bg-color1 {
  background: rgb(var(--color1));
}
.bg-color2 {
  background: rgb(var(--color2));
}
.bg-color3 {
  background: rgb(var(--color3));
}
.bg-color4 {
  background: rgb(var(--color4));
}
.bg-color5 {
  background: rgb(var(--color5));
}

/*|This is the class color for the text|*/
.text-color1 {
  color: rgb(var(--color1));
}
.text-color2 {
  color: rgb(var(--color2));
}
.text-color3 {
  color: rgb(var(--color3));
}
.text-color4 {
  color: rgb(var(--color4));
}
.text-color5 {
  color: rgb(var(--color5));
}

/*|This is the class for boarder colors|*/
.border-color1 {
  border-color: rgb(var(--color1));
}
.border-color2 {
  border-color: rgb(var(--color2));
}
.border-color3 {
  border-color: rgb(var(--color3));
}
.border-color4 {
  border-color: rgb(var(--color4));
}
.border-color5 {
  border-color: rgb(var(--color5));
}

/*|GLOBAL VARIABLES END|*/

/*|CONTAINERS|*/
body {
  background-image: black;
}
header {
  width: 100%;
  min-height: 10vh;
  margin: 0;
  padding: 0;
}
main {
  position: relative;
  width: 100%;
  min-height: 90vh;
  margin: 0;
  padding: 0;
}
footer {
  width: 100%;
  margin: 0;
  padding: 0;
}
#main {
  background: radial-gradient(
      rgba(var(--color3), 0.2),
      rgba(var(--color4), 0.4)
    )
    fixed no-repeat center;
}
.main-container {
  min-height: 75vh;
  padding: 10px;
}
.text-container {
  margin: 0;
  padding: 10px;
}
.obj-container {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
}
/*|CONTAINERS END|*/

/*|TEXT|*/
.navbar-brand h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.02em;
}
.text-header {
  font-weight: bolder;
  margin: 0;
  padding: 0 0 5px 0;
}
.text-button {
  font-weight: bold;
}
.text-label {
  font-weight: bold;
  margin: 0;
  padding: 0 5px 5px 5px;
}
p {
  margin: 0;
  padding: 0;
}
p.size-sm {
  font-size: 1em;
}
p.size-md {
  font-size: 1.3em;
}
p.size-lg {
  font-size: 1.6em;
}
/*|TEXT END|*/

/*|LINK|*/
.link {
  font-weight: bolder;
}
.link:hover {
  text-decoration: none;
}
/*|LINK END|*/

/*|BUTTON|*/
.btn-obj {
  font-weight: bolder;
  box-shadow: 1px 1px 4px var(--cNeutralDark);
}
.btn-obj:hover {
  box-shadow: 1px 1px 10px var(--cNeutralDark);
}
.btn-obj:active {
  box-shadow: 0 0 10px var(--cNeutralMid);
}
/*|BUTTON END|*/
/*|IMAGE STYLE|*/
img {
  object-fit: cover;
  object-position: center;
}
/*|IMAGE STYLE END|*/

.go2top {
  position: fixed;
  display: flex;
  height: 40px;
  bottom: 80px;
  right: 25px;
  opacity: 0.5;
}
.go2top:hover {
  opacity: 0.5;
}
.go2top button {
  border-radius: 25px;
}

#intro .carousel-item img {
  height: 60vh;
  object-fit: cover;
  object-position: center;
}

#intro {
  min-height: 90vh;
  background-color: #ffffff;
}
